.card
{
    background-color: #4d5057;
    margin: auto;
    border-radius: 12px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
    padding: 0;
    width: 48rem;
    z-index: 10;
    position: fixed;
    top: 20vh;
    left: calc(50% - 24rem);
}

.cardheading
{
    background-color: #7ca982;
    width: 100%;
    height: 52px;
    border-radius: 12px 12px 0px 0px;
    padding: 0px 0px;
    margin: 0px;
    margin-top: -28px;
    text-align: center;
}

.h3
{
    font-family:'MetropolisBold';
    color: white;
    font-size: 28px;
    padding: 12px 0px;
    padding-left: 32px;
    margin: 0px;
    text-align: center;
    letter-spacing: 1px;
    display: inline-block;
}

.close
{
    float: right;
    font-family: 'MetropolisExtraBold';
    background: none;
    border: none;
    margin-right: 4px;
    font-size: 24px;
    color: white;
    cursor: pointer;
    padding: 6px 6px;
}

.ta
{
    font-family: 'MetropolisLight';
    font-size: 16px;
    margin-top: 12px;
    padding: 8px;
    border-radius: 8px;
    resize: none;
    background-color: lightgray;
}

.center
{
    text-align: center;
}

.search
{
    background-color: lightgray;
    border-radius:28px;
    border: 1px solid black;
    font-family: 'MetropolisRegular';
    font-size: 16px;
    padding: 8px 12px;
    display: inline-block;
    color: black;
    margin: 12px;
    width: 40%;
}

.work
{
    background-color: lightgray;
    border-radius:28px;
    border: 1px solid black;
    font-family: 'MetropolisExtraBold';
    font-size: 16px;
    padding: 8px 12px;
    display: inline-block;
    color: black;
    margin: 12px;
    width: 10%;
    text-align: center;
}

.search2
{
    background-color: lightgray;
    border-radius:28px;
    border: 1px solid black;
    font-family: 'MetropolisRegular';
    font-size: 16px;
    padding: 8px 12px;
    display: inline-block;
    color: black;
    margin: 12px;
    width: 30%;
}

.button {
	background-color:#7ca982;
	border-radius:28px;
	border:1px solid #3f994b;
	cursor:pointer;
	color:#ffffff;
	font-family:'MetropolisLight';
	font-size:16px;
	font-weight:bold;
	padding:10px 20px;
	text-decoration:none;
    letter-spacing: 2px;
    transition: 0.4s;
    margin-top: 12px;
    margin-bottom: 18px;
}

.button:hover {
	background-color:#3f994b;
}

.date
{
    font-family: 'MetropolisRegular';
    font-size: 16px;
    background-color: lightgray;
    margin: 8px 24px;
}

.span
{
    font-family: 'MetropolisBold';
    font-size: 20px;
    color: white;
    letter-spacing: 1px;
    float: left;
    margin-top: 12px;
    margin-left: 28px;
}

.span2
{
    font-family: 'MetropolisBold';
    font-size: 20px;
    display: inline-block;
    color: white;
    letter-spacing: 1px;
    margin-left: 292px;
    margin-top: 12px;
    text-align: center;
}

.span3
{
    font-family: 'MetropolisBold';
    font-size: 18px;
    color: white;
    letter-spacing: 1px;
    margin-top: 14px;
    margin-right: 12px;
    float: right;
}

.span4
{
    font-family: 'MetropolisBold';
    font-size: 20px;
    display: inline-block;
    color: white;
    letter-spacing: 1px;
    margin-left: 140px;
    margin-top: 12px;
    text-align: center;
}

.span5
{
    font-family: 'MetropolisBold';
    font-size: 20px;
    color: white;
    letter-spacing: 1px;
    margin-top: 12px;
    margin-right: 80px;
    float: right;
}

.span6
{
    font-family: 'MetropolisBold';
    font-size: 20px;
    color: white;
    letter-spacing: 1px;
    margin-top: 12px;
    margin-left: 194px;
    display: inline-block;
}

.span7
{
    font-family: 'MetropolisBold';
    font-size: 20px;
    color: white;
    letter-spacing: 1px;
    margin-top: 12px;
    margin-left: 124px;
    display: inline-block;
}

.error
{
    color: red;
    font-family: 'MetropolisLight';
    font-size: 16px;
    text-align: center;
}