.card {
    background-color: transparent;
    width: 36rem; /* was 300 and 200 */
    height: 512px;
    border: 0px;
    margin:auto;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }

  .card_active {
    background-color: transparent;
    width: 36rem;
    height: 512px;
    border: 0px;
    margin:auto;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .card_inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .card_active .card_inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .card_front, .card_back {
    position: absolute;
    background-color: #4d5057;
    border-radius: 12px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .card_front {
    color: black;
  }
  
  /* Style the back side */
  .card_back {
    color: white;
    transform: rotateY(180deg);
  }

  .h2
{
    color: white;
    font-family: 'MetropolisExtraBold';
    font-size: 32px;
    letter-spacing: 1px;
    text-align: center;
    padding-top: 24px;
    padding-bottom: 0px;
}


.input
{
    background-color: lightgray;
    border-radius:12px;
    border: 1px solid black;
    font-family: 'MetropolisRegular';
    font-size: 24px;
    padding: 8px 12px;
    color: black;
    width: 10rem;
    text-align: center;
    margin-bottom: 24px;
}

.input2
{
    background-color: lightgray;
    border-radius:28px;
    border: 1px solid black;
    font-family: 'MetropolisRegular';
    font-size: 18px;
    padding: 8px 12px;
    color: black;
    width: 20rem;
    text-align: left;
    margin-bottom: 16px;
    margin-top: 8px;
}

.input3
{
    background-color: lightgray;
    border-radius:28px;
    border: 1px solid black;
    font-family: 'MetropolisRegular';
    font-size: 18px;
    padding: 8px 12px;
    color: black;
    width: 20rem;
    text-align: left;
    margin-bottom: 16px;
    margin-top: 48px;
}

.p
{
    color: white;
    font-family: 'MetropolisRegular';
    text-align: center;
    font-size: 20px;
    padding: 12px 24px;
}

.center
{
    text-align: center;
}

.button
{
    background-color:#c57b57;
	border-radius:28px;
	border:1px solid #cc551e;
	cursor:pointer;
	color:#ffffff;
	font-family:'MetropolisLight';
	font-size:16px;
	font-weight:bold;
	padding:8px 24px;
    margin-top: 8px;
    margin-bottom: 24px;
	text-decoration:none;
    letter-spacing: 1px;
    transition: 0.4s;
}

.button:hover
{
    background-color: #cc551e;
}

.buttonW
{
    background-color:#c57b57;
	border-radius:28px;
	border:1px solid #cc551e;
	cursor:pointer;
	color:#ffffff;
	font-family:'MetropolisLight';
	font-size:16px;
	font-weight:bold;
	padding:8px 24px;
    margin-top: 8px;
    margin-bottom: 24px;
	text-decoration:none;
    letter-spacing: 1px;
    transition: 0.4s;
}

.buttonW:hover
{
    background-color: #cc551e;
}

.link
{
    background-color:white;
	border-radius:28px;
	border:2px solid #c57b57;
	cursor:pointer;
	color:#c57b57;
	font-family:'MetropolisLight';
	font-size:16px;
	font-weight:bold;
	padding:8px 24px;
    margin-top: 8px;
    margin-right: 36px;
    margin-bottom: 24px;
	text-decoration:none;
    letter-spacing: 1px;
    transition: 0.4s;
}

.link:hover
{
    background-color: lightgray;
}

.linkW
{
    background-color:white;
	border-radius:28px;
	border:2px solid #6f62de;
	cursor:pointer;
	color:#9083f4;
	font-family:'MetropolisLight';
	font-size:16px;
	font-weight:bold;
	padding:8px 24px;
    margin-top: 8px;
    margin-right: 36px;
    margin-bottom: 24px;
	text-decoration:none;
    letter-spacing: 1px;
    transition: 0.4s;
}

.linkW:hover
{
    background-color: lightgray;
}

.buttonE
{
    background-color:#7ca982;
	border-radius:28px;
	border:1px solid #3f994b;
	cursor:pointer;
	color:#ffffff;
	font-family:'MetropolisLight';
	font-size:16px;
	font-weight:bold;
	padding:8px 24px;
    margin-top: 8px;
    margin-bottom: 24px;
	text-decoration:none;
    letter-spacing: 1px;
    transition: 0.4s;
}

.buttonE:hover
{
    background-color: #3f994b;
}

.back
{
    background-color: #9083f4;
    background-size: cover;
    height: 100%;
    min-height: 100vh;
    width: 100vw;
    padding-top: 2rem;
}