.panel
{
    background-color: #4d5057;
    float: left;
    border-radius: 12px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
    padding: 0;
    width: 13rem;
    height: 48px;
    margin-top: 24px;
    margin-left: 24px;
}

.span
{
    font-family: 'MetropolisBold';
    font-size: 20px;
    color: white;
    letter-spacing: 1px;
    padding: 14px 12px;
    display: inline-block;
}

.add
{
    font-family: 'MetropolisExtraBold';
    font-size: 20px;
    color: white;
    background-color: #7ca982;
    cursor: pointer;
    border: 1px solid #3f994b;
    border-radius:4px;
    padding: 2px 6px;
    text-align: center;
    transition: 0.4s;
}

.add:hover
{
    background-color: #3f994b;
}