.flip_card {
    background-color: transparent;
    width: 55rem; /* was 300 and 200 */
    height: 597px;
    border: 0px;
    margin:auto;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }

  .flip_card_active {
    background-color: transparent;
    width: 55rem;
    height: 597px;
    border: 0px;
    margin:auto;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip_card_inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    background-color: transparent;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip_card_active .flip_card_inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip_card_front, .flip_card_back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip_card_front {
    background-color: transparent;
    color: black;
  }
  
  /* Style the back side */
  .flip_card_back {
    background-color: transparent;
    color: white;
    transform: rotateY(180deg);
  }

  .back
{
    background-color: #9083f4;
    background-size: cover;
    height: 100%;
    min-height: 100vh;
    width: 100vw;
    padding-top: 2rem;
}