button.link
{
    background:none;
    border:none;
    color: white;
    font-family: 'MetropolisLight';
    text-decoration: underline;
    display: inline;
    font-size: 20px;
}

button.link:hover
{
    text-decoration: none;
}

.right {
    background-color: #9083f4;
    display:flex;
    flex-direction:column;
    flex-basis:100%;
    flex: 1;
    border-radius: 0px 12px 12px 0px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
    padding: none;
    margin: -1rem -1rem -1rem 0;
    align-items: center;
    justify-content:center;
    transition: 0.4s;
  }

  .right:hover
  {
    background-color:#6f62de;
  }

  .col
  {
    background-color: #7ca982;
    display:flex;
    flex-direction:column;
    flex-basis:100%;
    flex: 1;
    border-radius: 12px 0px 0px 12px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
    padding: none;
    margin: -1rem 0 -1rem -1rem;
    align-items: center;
    justify-content:center;
    transition: 0.4s;
  }

  .col:hover
  {
    background-color:#3f994b;
  }

  .image
  {
      position:relative;
      width: 325px;
      padding: none;
      margin: none;
  }

  .image2
  {
    position:relative;
    width: 430px;
    top: 70px;
    padding: none;
    margin: none;
  }

.h3{
    color: white;
    font-family: 'MetropolisExtraBold';
    font-size: 60px;
    letter-spacing: 1px;
    padding: none;
    margin: none;
    margin-top: 124px;
}

.second
{
    color: white;
    font-family: 'MetropolisExtraBold';
    font-size: 60px;
    letter-spacing: 1px;
    padding: none;
    margin: none;
    margin-top: 194px;
}

.span{
    color: white;
    font-family: 'MetropolisLight';
    margin: none;
    padding: none;
    font-size: 20px;
    display: inline-block;
}

.h4
{
  color: white;
  font-family: 'MetropolisExtraBold';
  font-size: 70px;
  letter-spacing: 2px;
  text-align: center;
  padding: 30px 1px 20px 1px;
  margin: 1px;
  border: 1px;
}

