.label
{
    color:white;
    font-family: 'MetropolisRegular';
    font-size: 16px;
    padding: 12px;
}

.input
{
    background-color: lightgray;
    border-radius:28px;
    border: 1px solid black;
    font-family: 'MetropolisRegular';
    font-size: 16px;
    padding: 8px 12px;
    color: black;
    margin: 4px 0px 12px 0px;
    width: 16rem;
}

.h2
{
    color: white;
    font-family: 'MetropolisExtraBold';
    font-size: 32px;
    letter-spacing: 1px;
    margin: 4px 16% 8px;
}

.h3{
    color: white;
    font-family: 'MetropolisExtraBold';
    font-size: 60px;
    letter-spacing: 1px;
    padding: none;
    margin: none;
    margin-top: 194px;
}

.span{
    color: white;
    font-family: 'MetropolisLight';
    margin: 0px 0px 0px 8px;
    display: inline;
}

.link
{
    color: white;
    font-family: 'MetropolisLight';
    text-decoration: underline;
    display: inline;
}

.link:hover{
    text-decoration: none;
}

.myButton {
	background-color:#c57b57;
	border-radius:28px;
	border:1px solid #cc551e;
	display: block;
	cursor:pointer;
	color:#ffffff;
	font-family:'MetropolisLight';
	font-size:16px;
	font-weight:bold;
	padding:8px 16px;
	text-decoration:none;
    letter-spacing: 1px;
    transition: 0.4s;
    margin: 0px 18% 8px;
}

.myButton:hover {
	background-color:#cc551e;
}


.right {
    background-color: #c57b57;
    display:flex;
    flex-direction:column;
    flex-basis:100%;
    flex: 1;
    border-radius: 0px 12px 12px 0px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
    padding: none;
    margin: -1rem;
    align-items: center;
    justify-content:center;
  }

  .col
  {
      display:flex;
      flex-direction:column;
      flex-basis: 100%;
      flex: 1;
  }

  .image
  {
    position:relative;
    width: 430px;
    top: 70px;
    padding: none;
    margin: none;
  }

  .error
  {
      color: red;
      font-family: 'MetropolisLight';
      font-size: 16px;
      text-align: left;
  }

  .back
  {
      background-color: #9083f4;
      background-size: cover;
      height: 100%;
      min-height: 100vh;
      width: 100vw;
      padding-top: 2rem;
  }